@model RentRoom.Models.RoomDescriptionModel
@TempData["Massege"]

@{
    ViewData["Title"] = "AddRoom";
}

<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd">
    @Html.ActionLink("Home", "Index", "Account")

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-link active">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Rezerwacja Sali", "Index", "Rent")

                }
            </li>
            <li class="nav-link active">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Sale", "Index", "RoomDescription")

                }
            </li>
            <li class="nav-link active">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Nowa Sala", "AddRoom", "RoomDescription")

                }
            </li>


        </ul>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="nav-link active">
                @Html.ActionLink("Logout", "LogOut", "Account")
            </div>
        }
        
        @if (User.Identity.IsAuthenticated)
        {
            <div class="magin-right">Użytkownik Zalogowany.</div>
        }
        else
        {
            <div class="magin-right">Użytkownik Niezalogowany.</div>
        }

    </div>
</nav>

<h4>RoomDescriptionModel</h4>
<hr />

<form asp-action="AddRoom">
<div class="magin-left">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group col-md-6">
                <label asp-for="NameOfRoom"></label>
                <input asp-for="NameOfRoom" class="form-control" placeholder="Nazwa Sali" />
                <span asp-validation-for="NameOfRoom" class="text-danger"></span>
            </div>
        <div class="form-group col-md-6">
                <label asp-for="IsAvailable">Sala Dostepna</label>
                @Html.DropDownListFor(x => x.IsAvailable, new[] {
                    new SelectListItem() {Text = "Tak", Value = "Yes"},
                    new SelectListItem() {Text = "Nie", Value = "No"}
                }, "Wybierz opcje")
                <p></p>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>
            <div  class="form-group col-md-6">
                <label asp-for="SizeOfRoom" >Podaj rozmiar sali w m2.</label>
                <input asp-for="SizeOfRoom" class="form-control" placeholder="Rozmiar Sali" />
                <span asp-validation-for="SizeOfRoom" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FeePerHour" type="number">Podaj Stawkę Wynajmu</label>
                <input asp-for="FeePerHour" class="form-control" placeholder="Rozmiar Sali" />
                <span asp-validation-for="FeePerHour" class="text-danger" type="number"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
       
    </div>
</div>

</form>
